In [1]:
# 'dataset' contiene los datos de entrada para este script

# se importan las librerias necesarias para aplicar las funciones
import pandas as pd
import numpy as np

dfHotelBooking = pd.read_csv("hotel_bookings.csv")

In [ ]:
dfHotelBooking.head()

In [ ]:
dfHotelBooking.info()

In [4]:
#dfHotelBooking = dfHotelBooking.drop(['adr'], axis = 1)


# Llenar los valores nulos
# los valores numericos se pueden llenar con la media



# llenar valores faltantes con un valor específico
dfHotelBooking['company'].fillna(0, inplace=True)
dfHotelBooking['country'].fillna('No tiene', inplace=True)

# llenar con el valor del siguiente registro
dfHotelBooking['agent'].fillna(method="ffill", inplace=True)


# Se cambia el tipo de los datos
dfHotelBooking['children'] = dfHotelBooking['children'].values.astype(int)
dfHotelBooking['adults'] = dfHotelBooking['adults'].values.astype(int)
dfHotelBooking['babies'] = dfHotelBooking['babies'].values.astype(int)

# Se crea una nueva columna
# se crea la columna total de personas, la cual será la suma de la cantidad de cada grupo de persona
dfHotelBooking['Cant de personas'] = dfHotelBooking['babies'] + dfHotelBooking['children'] + dfHotelBooking['adults']

# Reemplazar un valor por otro
# El termino “TA” es “Travel Agents” y “TO” es “Tour Operators”
dfHotelBooking["market_segment"].replace({"Online TA": "Online Travel Agents", "Offline TA/TO": "Off Travel Agents/Tour Operators "}, inplace=True)

# Se toma los nombres de las columnas (encabezados) para pasarlos por el melt
data_top = list(dfHotelBooking.columns.values)

In [ ]:
dfHotelBooking.head()

In [6]:
# Se elimina la columna adults, children y babies ya que estas son a las que se les realizará el melt
data_top.remove('adults')
data_top.remove('children')
data_top.remove('babies')
# se utiliza pandas.melt para reorganizar la estructura del dataframe
dfHotelBooking=dfHotelBooking.melt(data_top, var_name='Grupo Persona')

In [7]:
dfHotelBooking.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,meal,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Cant de personas,Grupo Persona,value
0,Resort Hotel,0,342,2015,July,27,1,0,0,BB,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2,adults,2
1,Resort Hotel,0,737,2015,July,27,1,0,0,BB,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2,adults,2
2,Resort Hotel,0,7,2015,July,27,1,0,1,BB,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,adults,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,BB,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,adults,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,BB,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,adults,2
5,Resort Hotel,0,14,2015,July,27,1,0,2,BB,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,adults,2
6,Resort Hotel,0,0,2015,July,27,1,0,2,BB,...,0,Transient,107.0,0,0,Check-Out,2015-07-03,2,adults,2
7,Resort Hotel,0,9,2015,July,27,1,0,2,FB,...,0,Transient,103.0,0,1,Check-Out,2015-07-03,2,adults,2
8,Resort Hotel,1,85,2015,July,27,1,0,3,BB,...,0,Transient,82.0,0,1,Canceled,2015-05-06,2,adults,2
9,Resort Hotel,1,75,2015,July,27,1,0,3,HB,...,0,Transient,105.5,0,0,Canceled,2015-04-22,2,adults,2

In [8]:
#Se cambia el nombre de la columna
dfHotelBooking= dfHotelBooking.rename(columns = {'value':'Cantidad'}, inplace = False)

# La función drop_duplicates() retorna un dataframe con las filas duplicadas eliminadas
dfHotelBooking.drop_duplicates(inplace=True)

# filtrar columnas, se dejan solo los valores que tienen 2015 en la columna de año de llegada
dfHotelBooking = dfHotelBooking.loc[dfHotelBooking['arrival_date_year'] == 2015]
# se verifica que se realizo el filtro ahora hay menos columnas
dfHotelBooking.info()

# crear una columna con numeros o valores aleatorios, que se entregan en un array
dfHotelBooking['randNumCol'] = np.random.choice(['cool', 9, 20], dfHotelBooking.shape[0])

# Aplicando multiples funciones de agregación a un una agrupación de los datos hecha con group by
# se debe agrgar a la lista el valor númerico que utilizaran las funciones de agregación, en este caso es cantidad
dfHotelBooking = dfHotelBooking[['country','Grupo Persona','Cantidad']].groupby(['country','Grupo Persona']).agg(['mean','count'])
dfHotelBooking.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40324 entries, 0 to 342538
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           40324 non-null  object
 1   is_canceled                     40324 non-null  int64
 2   lead_time                       40324 non-null  int64
 3   arrival_date_year               40324 non-null  int64
 4   arrival_date_month              40324 non-null  object
 5   arrival_date_week_number        40324 non-null  int64
 6   arrival_date_day_of_month       40324 non-null  int64
 7   stays_in_weekend_nights         40324 non-null  int64
 8   stays_in_week_nights            40324 non-null  int64
 9   meal                            40324 non-null  object
 10  country                         40324 non-null  object
 11  market_segment                  40324 non-null  object
 12  distribution_channel            40324 non-null  object
 13  is_repeated_guest               40324 non-null  int64
 14  previous_cancellations          40324 non-null  int64
 15  previous_bookings_not_canceled  40324 non-null  int64
 16  reserved_room_type              40324 non-null  object
 17  assigned_room_type              40324 non-null  object
 18  booking_changes                 40324 non-null  int64
 19  deposit_type                    40324 non-null  object
 20  agent                           40315 non-null  float64
 21  company                         40324 non-null  float64
 22  days_in_waiting_list            40324 non-null  int64
 23  customer_type                   40324 non-null  object
 24  adr                             40324 non-null  float64
 25  required_car_parking_spaces     40324 non-null  int64
 26  total_of_special_requests       40324 non-null  int64
 27  reservation_status              40324 non-null  object
 28  reservation_status_date         40324 non-null  object
 29  Cant de personas                40324 non-null  int64
 30  Grupo Persona                   40324 non-null  object
 31  Cantidad                        40324 non-null  int64
dtypes: float64(3), int64(16), object(13)
memory usage: 10.2+ MB

<ipython-input-8-6a27e14c8857>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfHotelBooking['randNumCol'] = np.random.choice(['cool', 9, 20], dfHotelBooking.shape[0])

                       Cantidad
                           mean count
country Grupo Persona
AGO     adults         1.434783    46
        babies         0.000000    46
        children       0.195652    46
ALB     adults         2.000000     2
        babies         0.000000     2

In [9]:
#se organizan nuevamente las columnas, eliminando un nivel de indice y reseteandolo
# se elimina un nivel
dfHotelBooking.columns = dfHotelBooking.columns.droplevel()

# se reseta el indice
dfHotelBooking = dfHotelBooking.reset_index()


# se puede generar una columna con un ranking, el metodo es min por lo que el valor mas pequeño tendra el primer puesto
# se aplica por la columna mean
dfHotelBooking['rank'] = dfHotelBooking['mean'].rank(method = 'min')


# se pueden ordenan los valores con la función sort_values
dfHotelBooking.sort_values('rank',inplace = True)

# con la función sample se puede tomar una muestra del dataset, con una cantidad especifica de filas
dfHotelBooking = dfHotelBooking.sample(n=100)
dfHotelBooking.shape
# queda un dataset con 100 filas y 5 columnas

(100, 5)